/* 공통 */
* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

/* navbar */
.navbar {
  padding: 20px 30px;
  font-size: 24px;
  background-color: antiquewhite;
}
.navbar .total-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: green;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.navbar .leaf {
  margin-right: 15px;
  font-size: 2.5rem;
  color: green;
}

/* add */
.add-form {
  margin: 20px;
}
.add-form input{
  padding: 0;
  height: 2rem;
  font-size: 24px;
  border: 1px solid blue;
  box-sizing: border-box;
}
.add-form .add-btn {
  margin-left: 5px;
  height: 2rem;
  background-color: green;
}

/* habit */
.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}
.habit-button:hover {
  opacity: 0.8;
}
.habit-increase,
.habit-decrease {
  color: goldenrod;
}
.habit-delete {
  color: darkred;
}

/* reset */
.reset-btn {
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 20px;
  color: #fff;
  background-color: green;
}